@import "../../assets/scss/utils/mixins.scss";

.details {
  @include tablet {
    padding: 46px 2.4vw 45px;
  }
  @include desktop {
    margin: auto;
    padding: 44px 1.7% 47px;
  }
  position: relative;
  max-width: 1440px;
  padding: 49px 4.2%;
  &:after {
    @include tablet {
      width: 96%;
    }
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    border-top: 1px solid #bed7d4;
    z-index: 1;
  }
  &__title {
    @include tablet {
      text-align: left;
      margin: 0;
      font-size: 2.35vw;
    }
    @include desktop {
      font-size: 1.65vw;
      line-height: 2vw;
    }
    @include ultrawide {
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.5px;
    }
    margin: auto;
    width: 63%;
    text-align: center;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.5px;
  }
  &__text {
    @include tablet {
      width: 545px;
      text-align: left;
    }
    margin-top: 30px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
  &__button {
    @include tablet {
      margin-top: 31px;
      padding: 18px 25px;
    }
    @include ultrawide {
      margin-top: 32.2px;
      padding: 17px 24px 16px;
    }
    margin: auto;
    margin-top: 8.6vw;
    padding: 4.5vw 6.2vw;
  }
  &__container {
    @include tablet {
      justify-items: center;
      margin: auto;
      margin-top: 42px;
      width: 80%;
    }
    @media (min-width: 1000px) {
      width: 100%;
      grid-template-columns: auto;
      grid-auto-flow: column;
      justify-content: space-between;
      gap: 0;
      margin-top: 33px;
    }
    @include desktop {
      margin-top: 2.3vw;
    }
    @include ultrawide {
      gap: 0;
    }
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 13.6px;
    margin-top: 42px;
  }
  &__content {
    @media (min-width: 900px) {
      font-size: 13px;
    }
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.7px;
    &--3 {
      text-align: center;
    }
  }
  &__number {
    font-family: "Playfair Display", sans-serif;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.5px;
  }

  &__item {
    @include tablet {
      height: 15.6vw;
      padding: 1.4vw 1.4vw;
      gap: 1.6vw;
    }
    @include desktop {
      height: 11.1vw;
      padding: 1.2vw 1.1vw;
      gap: 1.3vw;
    }
    @include ultrawide {
      height: 160px;
      padding: 17px 16px;
      gap: 16px;
    }
    display: grid;
    gap: 15px;
    align-content: baseline;
    height: 160px;
    padding: 15px 17px;
    &--1,
    &--2 {
      color: #fff;
      &-border {
        color: #252838;
      }
    }
    &--3,
    &--5 {
      display: grid;
      justify-content: center;
      justify-items: center;
    }
    &--1 {
      @include tablet {
        width: 90%;
      }
      @media (min-width: 1000px) {
        width: 13.9vw;
      }
      @include desktop {
        width: 14.7vw;
      }
      @include ultrawide {
        width: 213px;
      }
      background: #252838;
      &-border {
        background: transparent;
        border: 1px solid #252838;
      }
    }
    &--2 {
      @include tablet {
        width: 90%;
      }
      @media (min-width: 1000px) {
        width: 22vw;
      }
      @include desktop {
        width: 22.85vw;
      }
      @include ultrawide {
        width: 329px;
      }
      background: #e60100;
      &-border {
        background: transparent;
        justify-content: space-between;
        border: 1px solid #e60100;
      }
    }
    &--3 {
      @include tablet {
        width: 90%;
        padding-top: 12px;
        align-content: center;
      }
      @media (min-width: 1000px) {
        gap: 1.5vw;
        width: 14vw;
        padding-top: 0;
      }
      @include desktop {
        gap: 1vw;
        width: 14.7vw;
        padding-top: 2px;
      }
      @include ultrawide {
        margin-left: 0;
        width: 213px;
        gap: 12px;
      }
      text-align: center;
      align-content: baseline;
      gap: 15px;
      padding-top: 35px;
      border-radius: 100px;
      background: #ffed54;
      &-border {
        background: transparent;
        border: 1px solid #ffed54;
      }
    }
    &--4 {
      @include tablet {
        width: 90%;
      }
      @media (min-width: 1000px) {
        width: 13.9vw;
      }
      @include desktop {
        width: 14.6vw;
      }
      @include ultrawide {
        width: 212px;
      }
      background: #bed7d4;
      &-border {
        background: transparent;
        border: 1px solid #bed7d4;
      }
    }
    &--5 {
      @include tablet {
        grid-column: auto;
        align-content: baseline;
        gap: 1.8vw;
        width: 50%;
        height: 100%;
        margin-top: 0;
        padding-top: 3vw;
        border-radius: 6.2vw;
        grid-column: 1/3;
      }
      @media (min-width: 1000px) {
        width: 22.2vw;
        grid-column: 5/6;
      }
      @include desktop {
        gap: 14px;
        padding-top: 30px;
        border-radius: 57px;
      }
      @media (min-width: 1440px) {
        width: 330px;
      }
      grid-column: 1/3;
      background: #0085b2;
      color: #fff;
      border-radius: 300px;
      height: 112px;
      margin-top: 5px;
      &-border {
        background: transparent;
        color: #252838;
        border: 1px solid #0085b2;
      }
    }
  }
}
