@import "../../../assets/scss/utils/mixins.scss";

.apartment-item {
  @media (min-width: 1000px) {
    height: 100vh;
  }
  @media (max-width: 1380px) and (orientation: portrait) {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow-y: auto;
    opacity: 1;
  }
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow-y: auto;
  opacity: 0;
  transition: opacity 150ms;
  z-index: 3;
  &--active {
    left: 0;
    opacity: 1;
    transition: opacity 250ms;
  }
  &__container {
    @media (min-width: 1000px) {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: 73.1% 26.9%;
      justify-content: space-between;
      padding-left: 1.9%;
    }
    @media (max-width: 1380px) and (orientation: portrait) {
      display: block;
    }
    display: block;
  }
  &__top {
    @media (min-width: 1000px) {
      height: 7.9vh;
    }
    position: sticky;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: white;
    z-index: 2;
  }
  &__arrow {
    @media (min-width: 1000px) {
      display: none;
    }
    position: absolute;
    top: 104px;
    left: 30px;
    z-index: 1;
  }
  &__close {
    @media (min-width: 1000px) {
      top: 10px;
    }
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 1;
  }
  &-descr {
    @media (min-width: 1000px) {
      display: block;
      justify-content: left;
      padding: 0 6% 0 6%;
    }
    position: relative;
    display: grid;
    justify-content: center;
    padding: 0 4.3vw 17.2vw;
    &__title {
      @media (min-width: 1025px) {
        margin-top: 0;
        font-size: 2.8vh;
        line-height: 1.3;
      }
      font-family: "Playfair Display";
      margin-top: 54px;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      letter-spacing: -0.5px;
      color: #252838;
    }
    &__list {
      @media (min-width: 1000px) {
        margin-top: 7vh;
      }
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 64px;
      border: 0.5px solid #bed7d4;
    }
    &__item {
      @media (min-width: 1000px) {
        padding: 1.9vh 2.2vh;
        height: 16.1vh;
      }
      height: 144px;
      border: 0.5px solid #bed7d4;
      padding: 20px 17px;
      &:nth-of-type(even) {
        @media (min-width: 1000px) {
          padding: 1.9vh 2.8vh;
        }
      }
    }
    &__number {
      @media (min-width: 1000px) {
        font-size: 2.8vh;
        line-height: 1.3;
      }
      font-family: "Playfair Display";
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.5px;
      color: #252838;
    }
    &__input {
      @media (min-width: 1000px) {
        display: grid;
        width: 90%;
        margin: auto;
        margin-top: 71px;
        padding-bottom: 16px;
        font-size: 13px;
      }
      color: #252838 !important;
      border-bottom: 1px solid rgba(#252838, 0.5) !important;
    }
    &__text {
      @media (min-width: 1000px) {
        font-size: 1.5vh;
        line-height: 1.4;
        margin-top: 1.8vh;
      }
      margin-top: 4.5vw;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 0.7px;
      text-transform: uppercase;
      color: #252838;
    }
    &__button {
      @media (min-width: 1000px) {
        margin-top: 3.7vh;
        padding: 2vh 11.4% 1.8vh;
        font-size: 1.5vh;
        line-height: 1.2;
      }
      padding: 4.3vw 12.3vw;
      margin: auto;
      margin-top: 8.5vw;
    }
    &__text-bottom {
      @media (min-width: 1000px) {
        margin-top: 3.2vh;
        font-size: 1.75vh;
        line-height: 1.6;
      }
      margin-top: 8vw;
      font-style: italic;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #bed7d4;
    }
    &__status,
    &__price {
      @media (min-width: 1000px) {
        margin-top: 6vh;
        font-size: 2.7vh;
        line-height: 1.4;
      }
      margin-top: 13vw;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      letter-spacing: -0.5px;
      color: #252838;
    }
  }
}

.carousel {
  @media (min-width: 1000px) {
    width: 100% !important;
  }
  &-top {
    @media (min-width: 1000px) {
      height: 75.9vh;
    }
    height: 110.3vw;
    width: 100%;
  }
  &-thumbs {
    @media (min-width: 1000px) {
      margin-top: 1.5vh;
    }
    height: 20%;
    margin-top: 4.2vw;
    padding: 10px 0;
  }
}
