@import "./utils/splide.min.scss";
@import "./utils/mixins.scss";
@import "antd/dist/antd.css";
@import "./common/custom-input.scss";

body {
  font-family: "Playfair Display", serif;
  color: #252838;
  font-size: 16px;
  overflow-x: hidden;
  white-space: pre-wrap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin-bottom: 0 !important;
}
#root {
  position: absolute;
  width: 100%;
  top: 0;
}

h1,
h2,
h3 {
  font-weight: normal;
}

*:focus {
  outline: none;
}

ul {
  margin-top: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
  transition-delay: 9999s;
  transition: "color 9999s ease-out, background-color 9999s ease-out";
}
