@import "../../../assets/scss/utils/mixins.scss";

.more {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  align-content: space-between;
  justify-items: center;
  width: 162px;
  height: 162px;
  padding: 24px 0 34px;
  background: rgba(235, 235, 235, 0.5);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  cursor: pointer;
  &:hover {
    background: rgba(234, 234, 234, 0.75);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
  }
  &--hidden {
    display: none;
  }
  &-number {
    font-size: 48px;
    line-height: 48px;
    color: #252838;
  }
  &-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    color: #e60100;
    text-align: center;
  }
  &--masonry {
    @include tablet {
      bottom: -1px;
    }
    @include desktop {
      bottom: 15px;
    }
    bottom: 32px;
  }
  &--apartments {
    bottom: 54px;
  }
  &--hide {
    display: none;
  }
}
