@import "../../assets/scss/utils/mixins.scss";

.facilities {
  @include tablet {
    padding: 51px 0 30px;
  }
  @include desktop {
    padding: 46px 0 29px;
  }
  @include ultrawide {
    margin: auto;
  }
  padding: 50px 0 49px;
  max-width: 1440px;
  &-section {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  &__block {
    height: 260px;
  }
  &__wrapper {
    @include ultrawide {
      overflow: inherit;
    }
    position: absolute;
    top: 96px;
    left: 0;
    width: 100vw;
    height: 213px;
    z-index: 2;
  }
  &__container {
    @include ultrawide {
      overflow: inherit;
    }
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    gap: 16px;
    height: 208px;
    width: 100%;
    &--center {
      display: grid;
      justify-content: center;
    }
    &::-webkit-scrollbar {
      height: 0;
      background: transparent;
      border-radius: 50px;
    }
    &--center {
      @include ultrawide {
        width: auto;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        max-width: fit-content;
        overflow-x: initial;
      }
    }
  }
  &__item {
    @include desktop {
      width: 228px;
      padding: 30px 13px 0;
    }
    position: relative;
    width: 227px;
    height: 208px;
    padding: 32.2px 16.5px 0;
    border: 1px solid #0085b2;
    &--last:hover {
      background-color: #ffed54bf;
      .facilities__image--last {
        background-color: #252838 !important;
      }
    }
    &-first {
      @include tablet {
        padding-left: 24px;
      }
      padding-left: 4.4vw;
    }
    &-last {
      @include tablet {
        padding-right: 24px;
      }
      padding-right: 4.4vw;
    }
    &--center {
      display: grid;
      align-content: baseline;
      justify-items: center;
      padding-top: 61px;
      cursor: pointer;
    }
  }
  &__text {
    margin-top: 27px;
    font-size: 16px;
    line-height: 24px;
    white-space: initial;
    &--center {
      margin-top: 31px;
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase;
      font-size: 13px;
      text-align: center;
      letter-spacing: 0.7px;
    }
  }
  &__image {
    width: 48px;
    height: 48px;
  }
  &__title {
    @include tablet {
      margin-left: 2.3%;
    }
    @include desktop {
      margin-left: 1.5%;
    }
    margin-left: 4%;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.7px;
  }
}

.tooltip {
  position: absolute;
  padding: 10px;
  z-index: 1;
}
