@import "../../../assets/scss/utils/mixins.scss";

.apcarousel {
  overflow: hidden;
  width: 100%;

  .apcarousel__image {
    @media (min-width: 1000px) {
      width: 71.7vw !important;
    }
    width: 100% !important;
    object-fit: cover;
    object-position: center;
    &--center {
      @media (min-width: 500px) {
        object-fit: cover;
      }
      object-fit: contain;
    }
  }
  &__slider {
    &--primary {
      $pHeight: 54vh;
      $pHeightTablet: 76vh;
      @media (min-width: 900px) {
        height: $pHeightTablet;
        width: 100vw;
      }
      @media (min-width: 1000px) {
        height: 74.2vh;
        width: 71.7vw !important;
      }
      @include ultrawide {
        height: $pHeightTablet;
      }
      height: $pHeight;
      width: 100%;
      .splide {
        max-width: 100% !important;
      }
      .apcarousel__image {
        @media (min-width: 900px) {
          height: $pHeightTablet;
        }
        @media (min-width: 1000px) {
          height: 74.2vh;
        }
        @include ultrawide {
          height: $pHeightTablet;
        }
        height: $pHeight;
      }
    }
    &--secondary {
      margin-top: 16px;
      .splide--slide {
        min-width: 100% !important;
      }
      .splide--nav > .splide__track > .splide__list > .splide__slide.is-active {
        border: 4px solid #ffd101;
      }
    }
  }
}
