@mixin desktop {
  @media (min-width: 1140px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin ultrawide {
  @media (min-width: 1440px) {
    @content;
  }
}