@import "../../assets/scss/utils/mixins.scss";

.header {
  @include tablet {
    height: 672px;
    padding: 64px 0 48px;
  }
  @include desktop {
    height: 100vh;
    padding: 64px 0 48px;
  }
  position: relative;
  margin: auto;
  max-width: 1440px;
  height: 768px;
  padding: 65px 0 49px;
  &--alternative {
    @include desktop {
      display: none;
    }
    display: block;
  }
  &-section {
    overflow: hidden;
  }
  &-carousel,
  .slick-slider {
    position: relative;
    height: 100%;
    width: 100%;
    top: 100vh;
    overflow: hidden;
    opacity: 0;
    animation: aCarousel 0.3s 0.5s ease-in-out forwards;
  }
  &__item {
    @include tablet {
      height: 560px;
      padding: 0 1.5%;
    }
    @media (min-width: 1140px) {
      height: 85.9vh;
    }
    @include ultrawide {
      height: 85.9vh;
      padding: 0 24.7px;
    }
    width: 100%;
    height: 654px;
    position: relative;
    padding: 0 3%;
  }
  &__icon {
    height: 48px;
  }
  &__tel {
    @include tablet {
      display: none;
    }
    position: fixed;
    top: 81px;
    right: 8.2%;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: grid;
    justify-content: center;
    align-items: center;
    background: rgba(234, 234, 234, 0.75);
    backdrop-filter: blur(30px);
    z-index: 2;
    opacity: 0;
    animation: aPhone 0.5s 1.2s ease-in-out forwards;
  }
  &__phone {
    @include tablet {
      display: block;
    }
    @include desktop {
      left: 9.9vw;
    }
    @include ultrawide {
      top: 16px;
      left: 9.9%;
      font-size: 13px;
      letter-spacing: 0.7px;
    }
    position: absolute;
    top: 1.6vw;
    left: 10.4vw;
    display: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.7px;
    color: #bed7d4;
    text-decoration: none;
    z-index: 1;
  }
  &__bg {
    @include tablet {
      background-size: 100% 100%;
    }
    height: 100%;
    position: relative;
    width: 100%;
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    &--border {
      &-top {
        border-top-left-radius: 173px;
        border-top-right-radius: 173px;
      }
      &-all {
        border-radius: 173px;
      }
    }
    &:last-of-type {
      position: relative;
      border: 1px solid #84a1c9;
    }
  }
  &__icon-grid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  &__buttons {
    @include tablet {
      justify-content: center;
      width: auto;
    }
    display: grid;
    gap: 17px;
    position: absolute;
    z-index: 1;
    bottom: 47px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
  }
  &__button {
    @include tablet {
      padding: 16px 24px;
    }
    padding: 16px 0;
    &--transparent {
      background: transparent;
      border: 1px solid #ffed54 !important;
      color: #fff;
      &:hover {
        background-color: #ffed54bf;
        color: #252838;
      }
    }
  }
  &-subtitle {
    @include desktop {
      margin-top: 15.6px;
    }
    font-family: "Montserrat", sans-serif;
  }
  &__block {
    @include tablet {
      right: 0;
      width: 309px;
      height: auto;
      padding: 32px 0 34px 32px;
    }
    @include ultrawide {
      width: 445px;
      height: 127px;
      padding: 31px 31px 0;
    }
    position: absolute;
    bottom: 100%;
    right: 0;
    background: rgba(234, 234, 234, 0.6);
    backdrop-filter: blur(30px);
    width: 227.1px;
    padding: 48px 20px 48px 32px;
    z-index: 1;
    animation: aBlock 0.3s 0.4s ease-in-out forwards;
  }
  &__title {
    position: relative;
    color: #252838;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.5px;
    margin: 0;
    font-weight: 100;
    opacity: 0;
    transform: translateY(50px);
    animation: aBlockText 0.3s 0.6s ease-in-out forwards;
    &--italic {
      font-style: italic;
    }
  }
  &__subtitle {
    margin-top: 16px;
    color: #e60100;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.7px;
    opacity: 0;
    transform: translateY(50px);
    animation: aBlockText 0.3s 0.6s ease-in-out forwards;
  }
  &__arrow {
    @include tablet {
      left: 11.7%;
      bottom: 35px;
    }
    @media (min-width: 1140px) {
      left: 8.1%;
      bottom: 43px;
    }
    @include ultrawide {
      left: 8.1%;
      bottom: 32px;
    }
    position: absolute;
    left: 29.4px;
    bottom: 35px;
    z-index: 1;
    opacity: 0;
    transform: translateY(-50px);
    animation: aArrow 0.3s 1.2s ease-in-out forwards;
  }
  &__text {
    position: absolute;
    z-index: 1;
    letter-spacing: 0.7px;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    font-family: "Montserrat", sans-serif;
    width: max-content;
    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      background-color: #252838;
      height: 100%;
      width: 0;
      z-index: 1;
      transition: all 0.3s;
    }
    &--sell {
      @include ultrawide {
        top: 16.3px;
        font-size: 13px;
      }
      top: 50px;
      left: 50%;
      transform: translateX(-50%);
      color: #e50100;
      text-transform: uppercase;
      opacity: 0;
      animation: aHeaderTextBg 0.3s 1.2s ease-in-out forwards;
    }
    &--amount {
      @include tablet {
        top: 16px;
        left: 2.35%;
      }
      @include desktop {
        left: 24.7px;
      }
      @include ultrawide {
        font-size: 12px;
      }
      top: 128.4px;
      left: 31.9px;
      color: #fff;
      transform: translateX(-50%);
      opacity: 0;
      animation: aAmount 0.3s 0.9s ease-in-out forwards;
    }
  }
  .slick-list,
  .slick-track {
    height: 100%;
  }
  .slick-arrow {
    display: none !important;
  }
}

@keyframes aCarousel {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

@keyframes aBlock {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0;
  }
}

@keyframes aBlockText {
  from {
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes aAmount {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes aHeaderTextBg {
  from {
    opacity: 0;
    top: 50px;
  }
  to {
    opacity: 1;
    top: 17px;
  }
}

@keyframes aPhone {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes aArrow {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
