@import "../../../assets/scss/utils/mixins.scss";

.popup-main-carousel {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  background: #252838;
  z-index: 10;
  opacity: 0;
  transition: opacity 150ms;
  &--active {
    left: 0;
    opacity: 1;
    transition: opacity 250ms;
  }
  &__close {
    @include tablet {
      bottom: 21vh;
    }
    @include desktop {
      bottom: 20vh;
    }
    position: absolute;
    bottom: 27vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    cursor: pointer;
  }
  .splide--draggable > .splide__track > .splide__list > .splide__slide {
    position: relative;
    overflow: hidden;
  }
  .popup-main-carousel__image-wrap {
    position: relative;
    height: 80vh;
    overflow: hidden;
  }
  .popup-main-carousel__image {
    @media (min-width: 500px) {
      width: 100% !important;
      object-fit: cover;
    }
    width: auto;
    object-fit: contain;
    object-position: center;
    &--center {
      @media (min-width: 500px) {
        object-fit: contain;
      }
      object-fit: cover;
    }
  }

  &__slider {
    &--primary {
      @media (min-width: 768px) and (orientation: portrait) {
        height: 83.9vh;
      }
      @media (min-width: 1000px) {
        height: 86vh;
      }
      $pHeight: 80vh;
      height: $pHeight;
      width: 100%;
      .splide {
        max-width: 100% !important;
      }
      .popup-main-carousel__image {
        @media (min-width: 768px) and (orientation: portrait) {
          height: 83.9vh;
          transform: translateX(0%);
        }
        @media (min-width: 1000px) {
          height: 86vh;
        }
        height: $pHeight;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &--secondary {
      margin-top: 16px;
      .splide--slide {
        min-width: 100% !important;
      }
      .splide__slide {
        &:first-of-type {
          @media (min-width: 768px) {
            margin-left: 39px;
          }
          margin-left: 16px;
        }
      }
      .splide--nav > .splide__track > .splide__list > .splide__slide {
        border: 0px solid transparent;
        &.is-active {
          border: 4px solid #ffd101;
        }
      }
    }
  }
}
