@import "../../../assets/scss/utils/mixins.scss";

.filter {
  @include tablet {
    width: 375px;
    display: grid;
    justify-items: end;
  }
  position: fixed;
  top: 0;
  right: -100%;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 100vh;
  overflow: auto;
  z-index: 3;
  transition: right 100ms;
  .rs-slider {
    width: 97%;
  }
  p + p {
    margin: 0;
  }
  .rs-tooltip-arrow,
  .rs-tooltip-inner {
    display: none;
  }
  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
  &--active {
    right: 0;
    width: 100vw;
    transition: right 200ms;
  }
  &__wrap {
    @include tablet {
      width: calc(100vw - 375px);
      height: 100vh;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  &__container {
    @include tablet {
      width: 375px;
    }
    background: #bed7d4;
  }
  &__apostrophe {
    color: #fff;
  }
  &__close {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  &__title {
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.7px;
    &--white {
      @include tablet {
        display: none;
      }
      color: #fff;
    }
    &--black {
      color: #1f2025;
    }
  }
  &-top {
    @include tablet {
      justify-content: end;
      width: 375px;
      height: 45px;
      padding: 0 19px;
    }
    position: fixed;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 12.5vw;
    padding: 0 4.5vw;
    z-index: 1;
    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #b5d1ce;
      backdrop-filter: blur(8px);
      z-index: -1;
    }
  }

  .ant-slider {
    padding: 5px 0;
    margin: 5px 5px;
  }

  .filter-bottom__item {
    &--budget {
      .ant-slider-step,
      .ant-slider-track,
      .ant-slider-rail {
        height: 2.5px;
      }
    }
    &--area {
      .ant-slider-step,
      .ant-slider-track,
      .ant-slider-rail {
        height: 2.5px;
      }
    }
    &--rooms {
      .ant-slider-step,
      .ant-slider-track,
      .ant-slider-rail {
        height: 2px;
      }
    }
  }

  .ant-slider-rail {
    background: #fff;
  }
  .ant-slider-track,
  .ant-slider:hover .ant-slider-track {
    background: #ffed54;
  }

  .ant-slider-mark {
    display: none;
  }

  .ant-slider-handle {
    border-radius: 6px;
    height: 12px;
    width: 12px;
    background: #252838;
    border-color: #252838 !important;
  }
  .ant-slider-dot {
    top: -3px;
    &-active {
      background: #ffed54;
      border-color: #ffed54;
    }
  }

  .ant-switch {
    height: 29px;
    line-height: 29px;
    min-width: 50px;
    background: #bed7d4;
    border: 1.5px solid #f2f2f2;
    box-sizing: border-box;
    border-radius: 18px;
    transform: matrix(1, 0, 0, -1, 0, 0);
  }

  .ant-switch-handle {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    top: -0.6px;
    left: -0.5px;
  }
  .ant-switch-handle::before {
    border-radius: 50%;
    top: 0.2px;
    right: 1px;
    border: 0.5px solid #f2f2f2;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    transform: matrix(1, 0, 0, -1, 0, 0);
  }
  .ant-switch-checked .ant-switch-handle {
    left: calc(100% - 23.2px - 2px);
  }
  .ant-switch-checked {
    background: #0085b2;
    border-color: #0085b2;
  }

  &-body {
    @include tablet {
      height: 100vh;
    }
    padding: 89px 17px 50px 17px;
    overflow-y: auto;
    background: #bed7d4;
    &::-webkit-scrollbar {
      width: 0;
      background: transparent;
    }
    &-top {
      display: grid;
      gap: 36px;
      &__item {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        align-items: center;
        &:nth-of-type(2) {
          position: relative;
          &::after {
            content: "";
            position: absolute;
            top: -17px;
            left: 0;
            border-top: 1px solid #f2f2f2;
            opacity: 0.25;
            width: 100%;
          }
        }
      }
    }
  }
  &__bg {
    @include tablet {
      max-width: 375px;
    }
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(37, 40, 56, 0.25);
    backdrop-filter: blur(50px);
    z-index: -1;
  }
  &-toolbar {
    @include tablet {
      margin-top: 40px;
    }
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: rgba(#0085b2, 0.1);
    margin-top: 10.7vw;
    height: 48px;
    &--show {
      display: grid;
    }
    &__item {
      padding: 0;
      margin: 0;
      position: relative;
      overflow: hidden;
      font-family: "Montserrat", sans-serif;
      display: grid;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      color: #fff;
      &--active {
        background: rgba(#0085b2, 0.5);
      }
    }
    &__image {
      height: 24px;
      width: 24px;
    }
  }

  .ui-widget.ui-widget-content {
    height: 16px;
    border: none;
    background-color: transparent;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      height: 2px;
      background-color: #fff;
    }
  }

  .ui-slider-horizontal .ui-slider-range {
    background: #ffed54;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
  }
  .ui-slider-horizontal .ui-slider-handle {
    background: transparent;
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #252838;
  }
  &-bottom {
    @include tablet {
      gap: 39px;
    }
    display: grid;
    gap: 29px;
    margin-top: 33px;
    &__text {
      background-color: transparent;
    }
    &__top {
      display: grid;
      grid-auto-flow: column;
      justify-content: space-between;
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 0.7px;
      text-transform: uppercase;
      color: #252838;
    }
    &__item {
      display: grid;
      gap: 6.5px;
    }
    .ui-slider-tick-mark {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: #fff;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      z-index: 0;
      &--yellow {
        background: #ffed54;
      }
    }
  }
  &-buttons {
    margin-top: 59px;
    width: 100%;
  }
  &__button {
    width: 100%;
    margin: auto;
    padding: 16px 0;
    &--transparent {
      background-color: transparent;
      border: 1px solid #ffed54;
    }
    &--yellow {
      margin-top: 16px;
    }
  }
}

.ant-tooltip {
  display: none !important;
}
