@import "../../assets/scss/utils/mixins.scss";

.benefits {
  @include tablet {
    padding: 4.8vw 0 4.6vw;
  }
  @include desktop {
    padding: 3.4vw 0 3.4vw;
  }
  @include ultrawide {
    margin: auto;
    padding: 49.4px 0;
  }
  display: grid;
  justify-items: center;
  max-width: 1440px;
  padding: 50px 9% 46px;
  &-section {
    background: #bed7d4;
  }
  &__list {
    @include tablet {
      gap: 39px 114px;
    }
    @media (min-width: 1024px) {
      grid-template-columns: repeat(5, auto);
      gap: 45px 1.3vw;
      gap: 45px 21px;

      margin-top: 31px;
    }
    @include desktop {
      gap: 45px 21px;
    }
    @include ultrawide {
      justify-content: space-between;
      width: 77%;
    }
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 19px;
    margin-top: 32px;
  }
  &__item {
    @include tablet {
      max-width: auto;
      width: 152px;
    }
    @media (min-width: 900px) {
      max-width: auto;
      width: 152px;
    }
    max-width: 146px;
  }
  &__text {
    margin-top: 13px;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
  }
  &__button {
    @include tablet {
      margin-top: 46px;
    }
    @include desktop {
      margin-top: 48px;
      padding: 18px 19px 16px;
    }
    margin-top: 41px;
    padding: 17px 24px;
  }
  &__title {
    @include tablet {
      padding: 0;
    }
    padding: 0 10vw;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.5px;
    &-italic {
      font-style: italic;
    }
  }
}
